@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}
/* styles/global.css (jeśli używasz plików CSS) */

.navbar {
    transition: top 0.3s ease, width 0.3s ease, box-shadow 0.3s ease;
  }
  
  .shadow-dark::before {
    content: '';
    position: absolute;
    bottom: -3rem;
    left: 0;
    right: 0;
    height: 50px; /* wysokość cienia na górze */
    background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
    z-index: 10;
  }

  .shadow-dark::after {
    content: '';
    position: absolute;
    top: -3rem;
    left: 0;
    right: 0;
    height: 50px; /* wysokość cienia na górze */
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    z-index: 10;
  }

  